@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    
}


body{
    display: flex;
    flex-direction:column;
    align-items: center;
    font-family: 'Play', sans-serif;
    background-color: black;
}
img{
    position: fixed;
    
    height: 75vh;
    z-index: -2;
    
}
.window{
    margin-top: 1em;
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -3.5em;
    .temperatureMain{
        font-size: 5rem;
        margin-left: 2.5em;
        color:rgb(0, 0, 0);
        text-shadow: 0px 0px 0px #ffffff, 0px 0px 4px #ffffff;
        
    }
    .city{
        margin-top: 5em;
        margin-left: 1em;
        color:rgb(255, 255, 255);
        text-shadow: 0px 0px 0px #000000, 0px 0px 5px #000000;
    }
}

.background{
    z-index: -1;
    width: 100vw;
    margin-top: -10em;
    background: linear-gradient(to bottom, 
                              rgba(0, 0, 0, 0), 
                              rgb(0, 0, 0),
                              rgb(0, 0, 0),
                              rgb(0, 0, 0),
                              rgb(0, 0, 0),
                              rgb(0, 0, 0),
                              rgb(0, 0, 0),
                              rgb(0, 0, 0),
                              rgb(0, 0, 0),
                              rgb(0, 0, 0),
                              rgb(0, 0, 0),
                              rgb(0, 0, 0),
                              rgb(0, 0, 0),
                              rgb(0, 0, 0),
                              rgb(0, 0, 0),
                              rgb(0, 0, 0),
                              rgb(0, 0, 0),
                              rgb(0, 0, 0),
                              rgb(0, 0, 0),
                              rgb(0, 0, 0),
                              rgb(0, 0, 0),
                              rgb(0, 0, 0),
                              rgb(0, 0, 0),
                              rgb(0, 0, 0));

    margin-top: -1.8em;
    height: 200vh;
}