@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    
}


body{
    display: flex;
    flex-direction:column;
    align-items: center;
    font-family: 'Play', sans-serif;
    background-color: rgb(227, 244, 254);
}
img{
    position: fixed;
    
    height: 40em;
    z-index: -2;
    
}
.window{
    margin-top: 1em;
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -3.5em;

    .menubutton{
        position: absolute;
        background:none;
        border:none;
        font-size: 2rem;
        
        color:white;
        margin-top: -0.8em;
        margin-left: 16em;
        color:rgb(0, 0, 0);
        text-shadow: 0px 0px 0px #ffffff, 0px 0px 4px #ffffff;
    }
    .temperatureMain{
        font-size: 5rem;
        margin-left: 2.5em;
        color:rgb(0, 0, 0);
        text-shadow: 0px 0px 0px #ffffff, 0px 0px 4px #ffffff;
        
    }
    .feels{
        font-size: 2rem;
        margin-left: 5em;
        
        color:rgb(255, 255, 255);
        text-shadow: 0px 0px 0px #000000, 0px 0px 5px #000000;
    }
    .city{
        margin-top: 5em;
        margin-left: 2em;
        color:rgb(255, 255, 255);
        text-shadow: 0px 0px 0px #000000, 0px 0px 5px #000000;
    }
}

.background{
    z-index: -1;
    width: 100vw;
    margin-top: -10em;
    background: linear-gradient(to bottom, 
                              rgba(0, 0, 0, 0), 
                              #1C9CF6,
                              #1C9CF6,
                              #1C9CF6,
                              #1C9CF6,
                              #1C9CF6,
                              #1C9CF6,
                              #1C9CF6,
                              #1C9CF6,
                              #1C9CF6,
                              #1C9CF6,
                              #1C9CF6,
                              #1C9CF6,
                              #1C9CF6,
                              #1C9CF6,
                              #1C9CF6,
                              #1C9CF6,
                              #1C9CF6,
                              #1C9CF6,
                              #1C9CF6,
                              #1C9CF6,
                              #1C9CF6);

    margin-top: -1.8em;
    height: 90vh;

    .weather{
        margin-top: 4em;
        margin-bottom: -2em;
        font-size: 1.6rem;
        margin-left: 1em;
        color:rgb(255, 255, 255);
        text-shadow: 0px 0px 0px #000000, 0px 0px 5px #000000;
    }
    
}

.citymenudiv{
    color:white;
    
    
    .subcity{
        margin-top: 1em;
        max-height: 3em;
        min-width: 10em;
        font-size: 2rem;
        

        padding-top: 1em;
        padding-left: 1em;
        padding-bottom: 1em;
        border:solid 10px #1C9CF6;
        background-color: #1D71F2;
        text-shadow: 0px 0px 0px #000000, 0px 0px 5px #000000;
        border-radius: 2em;
        display: flex;
        flex-direction: row;
        
        .temperaturemenu{
            position: absolute;
            margin-left: 7em;
        }
        box-shadow: 0px 0px 0px #000000, 1px 1px 20px #000000;
    }
}
.submitB{
        margin: 3em;
        background-color: none;
        padding: 0.5em;
    }

.search{
    margin-top: 1em;
}